[MASTER]
ignore=tests,.env
disable=import-error,line-too-long,raise-missing-from,global-statement,too-few-public-methods,too-many-arguments,too-many-instance-attributes,too-many-locals,too-many-statements,too-many-branches,too-many-return-statements,too-many-nested-blocks,too-many-function-args,consider-using-f-string